*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after{
  display: table;
  content: '';
  clear: both;
}
.f-left{
  float: left;
}
.debug{
  background-color: blue;
  /* height: 50px; */
  
}
main section.bg-gray{
  background-color: #F3F5F9;
}
main section.bg-white{
  background-color: white;
}
main section.blue-gradient{
  background-image: linear-gradient(#0048C6,#001D99)
}
.height-100{
  height: 100%;
}
.d-inline{
  display: inline-block;
}
.d-block{
  display: block;
}
.box-padding-30{
  padding: 30px 0;
}
.box-padding-10px{
  padding: 10px 0;
}
.mrg-bottom{
  margin-bottom: 5px;
}
.mrg-bottom-30{
  margin-bottom: 30px;
}
img{
  width: 175px;
}

.btn.bg-blue{
  background-color:#579AFF;
  color: white
}
.btn.no-border{
  border: none;
}
.btn.btn-shadow{
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.blue-text{
  color:#217DFF;
}
.white-text{
  color: white;
}
.sec-title.white-text h2{
  color: white;
}
.gray-text{
  color: #7A859D;
}

.arrow-link a{
  font-size: 17px;
  color:#217DFF;
}
h5{
  font-size: 15px;
  font-weight: bolder;
}
.sec-title h2{
  color: #031C4E;
  font-weight:bolder;
}
.sec-description{
  color:#6F7B97;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 50px;
}
.level-box-3 .col-icon img{
  height: 40px;
  width: 40px;
  margin-right: auto;
}
.level-box-3 .col-title h4{
  margin: 15px 0px;
  font-weight: bolder;
}
.level-box-3 .col-description{
  margin-bottom: 30px ;
}

/* BLOCCO SLIDE */
.blocco-slide{
  position: relative;
  width: 60%;
  margin: 80px auto;
  /* background-color: red; */
  margin-bottom: 30px;
}
.blocco-slide .slide-image{
  width: 85%;
  margin: 0 auto;
  background-color: blue;
}
.blocco-slide .slide-image img{
  width: 100%;
}
/* .left-arrow{
position: absolute;
transform: translateY(-50%);
left: 0;
top: 50%;

} */
.arrow{
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  font-size: 50px;
}
.left.arrow{
  left: 0;
  color: #6F7B97;
}
.right.arrow{
  right: 23px;
  color: #031C4E;
}


/* ------------------------ */

/* HEADER */

header{
  height: 60px;
  /* background-color: red; */
}
.asn-navbar .container .row{
}
.asn-navbar .container .row [class*="col-"]{
  transform: translateY(-50%);
  top:50%
}
header ul{
  /* RESET BOOTSTRAP */
  margin-bottom: 0;
}
header ul li{
  margin-right: 10px;
}
header ul li:last-child{
  margin-right: 0;
}
.btn-default.blue-color{
  color:#217DFF;
  border: 1px solid #217DFF;
}

/* /HEADER */

/* MAIN */





.main-banner-bg{
  background-image: url(../img/bg-banner-home.jpg);
  background-size: cover;
  height: fit-content;
  color: white;
}
/* REMOVE JUMBO DEFAULT MARGIN */
.jumbotron.no-bottom{
  margin-bottom: 0;
}
#banner h2{
  font-size: 60px;
  font-weight: 600;
}
#banner .banner-description{
  color:#BBCDFF
}
#banner h3{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
}

.banner-wrapper{
  
  margin-left: auto;
  background-color: white;
  color: black;
  padding:15px;
  border-radius: 5px;
}
form input{
  height: 40px;
  width: 100%;
  padding-left: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.google-icon img{
  width: 20px;
  margin-right: -20px;
  float: left;
}
#banner .small-p{
  font-size: 12px;
  margin-top: 10px;
}
#banner .small-p a{
  text-decoration: underline;
}

/* BUSINESSES */
#businesses .row.businesses-img{
  
}
/* #businesses .row.businesses-img img{
    /* width: 100%; */
   /*  top: 50%;
    transform:translate(0,-50%);
    max-height:86px
  }  */ 
  #businesses .row.businesses-img img{
    /* position: absolute; */
    max-height: 125px;
    top: 50%;
  }
  /* PER EVITARE SOVRAPPONIMEN */ 
  @media all and (min-width:992px){
    #businesses .row.businesses-img img{
      width: 100%;
      /* max-height: none; */
    }
  }

/* /BUSINESSES */

/* SCALING */

  #scaling ul,{
    list-style: none;
    border-left: 2px solid lightgray;
    margin-left: 50px;
   }
  #scaling ul li h4{
    line-height: 40px;
    padding-left: 10px;
  }
 

/* /SCALING */

/* DESIGNED */

#designed h5{
  font-size: 16px;
  color: #021D4C;
  font-weight: bold;
}

.slide-selector{
  height: 18px;
  width: 100%;
  /* background-color: red; */
}
.slide-selector .slides{
  display: inline-block;
  background-color: white;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border:1px solid #217DFF
}
.slide-selector .slides:hover{
  background-color: #217DFF;
}
.slides.selected{
  background-color: #217DFF;
}
/* /DESIGNED */

/* REGIONS */
  
  .country-details{
    border-bottom: 1px solid white;
  }
  .country-details:last-child{
    border-bottom: none;
  }
  .country-code{
    width: 20%;
    padding-left: 15px;
    /* background-color: red; */
  }
  .country-speed{
    width: 20%;
    color: #00B4CC;
    /* background-color: red; */
  }
  .country-speed a{
    color: #00b4cc;
  }
  .country-name{
    width: 60%;
    color: #9EB2E1;
    /* background-color: green; */
  }
/* /REGIONS */

footer{
  background-color:#031C4E ;
}
footer img{
  width: 50px;
}
footer i{
  font-size: 20px;
  margin-right: 10px;
}
footer ul{
  list-style: none;
}
footer ul li a{
  text-decoration: none;
  color:inherit;
  line-height:20px;
}

