*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.debug{
  background-color: blue;
  /* height: 50px; */
  
}
.d-inline{
  display: inline-block;
}
.box-padding-30{
  padding: 30px 0;
}

/* ------------------------ */
header{
  height: 70px;
  background-color: red;
}
main section{
  margin-top:10px;
  /* height: 200px; */
  background-color: green;
}

/* .bgg{
  background-image: url(../img/bg-banner-home.jpg);
  background-size: cover;
  height: fit-content;
} */